<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name="com.sensifyawareapp.SensifyAwareApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SensifyAwareApp"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".ui.grammaraware.GrammarAwareCheckPointActivity"
             />

        <activity
            android:name=".ui.grammaraware.GrammarAwareIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.grammaraware.GrammarAwareSpeakActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.grammaraware.GrammarAwareResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.grammaraware.GrammarAwareLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.grammaraware.GrammarAwareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wordsaware.WordsAwareResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wordsaware.WordsAwareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.glanceaware.GlanceAwareTutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.glanceaware.GlanceAwareResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.glanceaware.GlanceAwareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.traceaware.TraceAwareTutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.UpdateProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.PatientActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.glanceaware.PatientActivityGlanceAware"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.HealthsQuestionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.HealthsQuestions2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.audioaware.AudioAwareResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.audioaware.AudioAwareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.audioaware.SelectAwareLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentawaretraining.RetrainingCompletedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentawaretraining.RetrainingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.VerifyAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.ConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.traceaware.TraceAwareResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.traceaware.TraceAwareCheckPointActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.traceaware.SelectTraceAwareLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.traceaware.TraceAwareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.OdorIntensityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.OdorDifferentiationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.ScentAwareTestResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.abouttests.AboutScentAwareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scentaware.CheckPointActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scentaware.QuestionAnswerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ml.barcode.QRCodeScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SensifyAwareApp.BlueStatusBar" />
        <activity
            android:name=".ui.SelectKitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trackprogress.ProgressReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.RenAwareQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.RenAwareCaptureColorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.RenAwareColorPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.RenAwareResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.RenAwareHealthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.health.RenalHealthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.health.BoneHealthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.health.HydrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.health.EnergyBlanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.health.ImmunityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.renaware.health.LiverHealthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.calendar.ReminderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.calendar.CustomReminderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.calendar.AllEventActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.abouttests.AboutCognitiveTestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.abouttests.AboutSmellLossActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.abouttests.VideoViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SensifyAwareApp.BlueStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.patient.AddPatientActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".ui.notification.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.notification.CancelNotificationsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>